openapi: 3.2.0
info:
  title: UPM PSASIR — EPrints REST, and OpenSearch interfaces Export…
  version: 3.3.16
  summary: Read-only machine-readable item, search and export interfaces of the UPM Institutional Repository.
  description: 'Beyond OAI-PMH, PSASIR (Universiti Putra Malaysia Institutional Repository, EPrints 3.3.16) serves three further unauthenticated machine-readable interfaces, all observed live on 2026-09-01: an EPrints REST dataset browser at /rest/ exposing the eprint, user and subject datasets with per-item XML at /rest/eprint/{id}.xml; a per-item export interface at /cgi/export/eprint/{id}/{format}/{filename} that renders a single record into any installed export plugin, including JSON; and a search…'
  contact:
    name: PSASIR repository administrator
    email: muizzudin@upm.edu.my
    url: http://psasir.upm.edu.my/information.html
  x-operator: institution
  x-operator-basis: Host is under upm.edu.my and resolves into UPMNET (119.40.117.86, org-name UNIVERSITI PUTRA MALAYSIA). Self-hosted open-source EPrints, not a hosted vendor tenancy.
  x-provenance:
    generated: '2026-09-01'
    method: derived
    source: Live probes on 2026-09-01 of http://psasir.upm.edu.my/rest/ (200), /rest/eprint/ (200, 9.9 MB index), /rest/eprint/813.xml (200), /cgi/export/eprint/813/JSON/psasir-eprint-813.js (200, application/json), /cgi/search?q=rice&output=JSON (200, streaming) and /cgi/opensearchdescription (200, application/opensearchdescription+xml), which is the source of the enumerated output formats.
servers:
- url: http://psasir.upm.edu.my
  description: PSASIR (HTTP only — the host does not serve HTTPS)
tags:
- name: Export
  description: Per-item export plugins.
paths:
  /cgi/export/eprint/{eprintId}/{format}/{filename}:
    get:
      tags:
      - Export
      operationId: exportEprint
      summary: Export one eprint through a named export plugin
      description: Renders a single record through an installed EPrints export plugin. The `filename` segment is cosmetic and is echoed as the download name.
      parameters:
      - name: eprintId
        in: path
        required: true
        schema:
          type: integer
          examples:
          - 813
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          - DC
          - METS
          - RDFXML
          - RDFN3
          - RDFNT
          - BibTeX
          - RIS
          - EndNote
          - Refer
          - ContextObject
          - Text
          - HTML
          - Atom
          - CSV
      - name: filename
        in: path
        required: true
        schema:
          type: string
          examples:
          - psasir-eprint-813.js
      responses:
        '200':
          description: The record in the requested representation.
          content:
            application/json:
              schema:
                $ref: ../json-schema/upm-eprints-record-schema.json
              examples:
                eprint813:
                  summary: eprint 813 as JSON (observed 2026-09-01)
                  externalValue: ../examples/upm-psasir-eprint-export.json
